<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
 <h1> User Information</h1>

 <form th:action="@{/addUser}" method="post">
     <h3>Enter Your Name</h3>
     <input type="text" name="uName">

     <h3>Enter Your User Id </h3>
     <input type="text" name="uId">

     <h3>Enter Your Age</h3>
     <input type="text" name="uAge">

     <button type="submit">Add User</button>

 </form>

</body>
</html>